# Data Science Tools and EcoSysten

In this notebook, Data Science Tools and Ecosystem are summarized.

**In the following lines, we are going to review how to perform:**

* Creating Tables
* Simple Math Operations
* Use of Bold
* List of popular languages in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Go

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

|Data Science Tools |
|--------|
|Jupyter|
|RStudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# below is the operation of addition and multiplication
12*(4+4)

96

In [5]:
# Converting minutes to hours
minute = 200
hour= minute / 60
print (f"{minute} minute is {hour} hours")

200 minute is 3.3333333333333335 hours

## Author:
Pedro Ramirez